    <!-- ======= Team Section ======= -->
    <section id="team" class="team section-bg" style="margin-top: 100px;">
      <div class="container-fluid contenedor text-center">

   
        <div class="container text-center" data-aos="fade-up">
  
          <div class="section-title">
            <h2>POWER SUPPLY</h2>
            <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
          </div>
  
          <div class="row">
  



      
            <div class="col-sm-4 container_foto ">
              <div class="ver_mas text-center">
                 <p class="hover-text" routerLink="/delta">View More >> </p>
                 <span  class="lnr lnr-eye"></span>
              </div>
              <article class="text-left">
                <h2>DELTA <br></h2>
                 
              </article>
              <img src="assets/img/POWER SUPPLY/DELTA/delta-power-supplies-500x500.jfif" alt="">
            </div>



              
            <div class="col-sm-4 container_foto ">
              <div class="ver_mas text-center">
                 <p class="hover-text" routerLink="/mitsubishi">View More >></p>
                 <span  class="lnr lnr-eye"></span>
              </div>
              <article class="text-left">
                <h2>OMRON <br></h2>
                
              </article>
              <img src="assets/img/POWER SUPPLY/OMRON/2-5-amp-switched-mode-power-supply-500x500.png" alt="">
            </div>



                    <div class="col-sm-4 container_foto ">
                      <div class="ver_mas text-center">
                         <p class="hover-text" routerLink="schineder">View More >></p>
                         <span  class="lnr lnr-eye"></span>
                      </div>
                      <article class="text-left">
                        <h2>SHAVISON <br></h2>
                        
                      </article>
                      <img src="assets/img/POWER SUPPLY/SHAVISON/smps-24v-2f20a-g31-500-24-500x500.jpg" alt="">
                    </div>

                
              </div>

       

  
  
  
  
          </div>

        </div>
  
      </section><!-- End Team Section -->





     