<section class="about">
    <div class="container">
        <div class="item-list">
            <div class="row">

                <div class="col-md-12">
                    <div class="sec-title">
                    <h1 class="left">Schneider</h1>
                    </div>
                </div>

                <div class="col-md-12 product-details">

                    
                    <h3 class="page-heading">Models Of Schneider :</h3>

                     <ul class="s-list list-unstyled mb-20 pg-head">	

                        <li><a href="plc-modicon-M580.html"><span class="fa fa-check"></span>   Modicon M580</a></li>
                        <li><a href="plc-modicon-M258.html"><span class="fa fa-check"></span>   Modicon M258</a></li>
                        <li><a href="plc-modicon-M221.html"><span class="fa fa-check"></span>   Modicon M221</a></li>
                        <li><a href="plc-modicon-M241.html"><span class="fa fa-check"></span>   Modicon M241</a></li>
                        <li><a href="plc-modicon-M251.html"><span class="fa fa-check"></span>   Modicon M251</a></li>
                        <li><a href="plc-modicon-TSX-micro.html"><span class="fa fa-check"></span>   Modicon TSX Micro</a></li>
                    </ul>
                </div>	

            </div>
        </div>
    </div>
</section>