


          <section class="about" style="margin-top: 50px;">
			<div class="container">
				<div class="item-list">
					<div class="row">
						
						<div class="col-md-12">
			                <div class="sec-title">
								<h1 class="left">About OneTouch Controls</h1>
							

								<!-- <p><b>Perfect Automation Systems deals in all types of Automation Products</b> like AC Drives, Servo Drives, PLC, Energy Monitoring Systems, PID Controller, Encoders, Flow meters, Level Transmitters, Pressure/DP Transmitter, Liquid Analysis Systems, & Soft Starters.<br>
								We give complete solutions for PLC Automation.</p> -->

								<p><b>Onetouch Controls</b> was established in 2019 to provide a leading and high quality solution for Industrial Automation & Process Control Systems, Instrumentation, and Software Development, Engineering Solution and Service and supplying industrial automation products.</p>
								
								
								<p>
									We deal in Tailor-made solutions based on the product and system portfolio for	</p>
									<ul>
										<li>Factory automation</li>
										<li>Process automation</li>
										<li>Drive technology</li>
									</ul>
							
								<br>

								<h2 class="left">Our Expertise</h2>

							<ul >
			                  <li><span class="fa fa-check"></span>Turnkey Industrial Automation projects</li>
			                  <li><span class="fa fa-check"></span>Engineering, Designing & Commissioning services</li>
			                  <li><span class="fa fa-check"></span>VFD, PLC & MCC Panel Engineering, Designing & Manufacturing.</li>
			                  <li><span class="fa fa-check"></span>PLC, HMI,SCADA, Drives & Other</li>
			                  <li><span class="fa fa-check"></span>Automation System Up gradation</li>
			                  <li><span class="fa fa-check"></span>Annual maintenance services (AMC)</li>
			                </ul>

							<h2 class="left">Why Choose Us?</h2>
							<p>We are one of the most experienced solution providers for Industrial Automation Systems. Being 10 years of experience. We are in a position to provide high-quality Solution starting from automation selection, designing, manufacturing, implementation and final acceptance
								At the level of customer satisfaction.
								</p>

								<p>Our core values and enormous experience with reputed companies increasing our significance and importance in the market as a solution provider.</p>

								<p><b>“Our expertise creates customer solution at their level of satisfaction” is our prime motive.</b></p>

								<p>Some of our unique points help us to stand separate from our competition

								</p>

							<ul class="s-list list-unstyled mb-20">
			                  <li><span class="fa fa-check"></span>Customized and reasonable solution</li>
			                  <li><span class="fa fa-check"></span>Simple and effective use of new technology</li>
			                  <li><span class="fa fa-check"></span>Instantaneous support to client</li>
			                  <li><span class="fa fa-check"></span> Maximum project quality and safety</li>
			              
			                </ul>

			                <br>
			               
							</div>
			              </div>

					</div>
				</div>
			</div>
		</section>