<app-banner></app-banner>
<app-partner></app-partner>
        <!-- ======= About Us Section ======= -->
        <section id="about" class="about">
            <div class="container" data-aos="fade-up">
      
              <div class="section-title">
                <h2>About Us</h2>
              </div>
      
              <div class="row content">
                <div class="col-lg-6">
                  <p>
                    We deal in all types of Automation Products.
                  </p>
                  <ul>
                    <li><i class="ri-check-double-line"></i> AC Drives / VFD, AC Motors</li>
                    <li><i class="ri-check-double-line"></i> Control Panel 
                        Manufacturing, PLC, HMI</li>
                    <li><i class="ri-check-double-line"></i> Encoders, PID Controller, Servo 
                        Drive Motor, Motion Controller</li>
                  </ul>
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0">
                  <p>
                    Encoders, PID Controller, Servo 
    Drive Motor, Motion Controller.
                  </p>
                  <a (click)="about()" style="cursor: pointer;" class="btn-learn-more">Learn More</a>
                </div>
              </div>
      
            </div>
          </section> <!-- End About Us Section -->

<app-what-we-do></app-what-we-do>

<app-contact></app-contact>