
  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top " style="background-color: #47b2e4;">
    <div class="container d-flex align-items-center">

      <h1 class="logo mr-auto"><a routerLinkActive="Active" routerLink="home"><img src="assets/img/final_logo.jpg" alt=""></a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo mr-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav class="nav-menu d-none d-lg-block" >
        <ul>
          <li><a routerLinkActive="Active" routerLink="home">HOME</a></li>
          <li><a href="#about">ABOUT</a></li>
          <li  class="drop-down"><a >PRODUCTS</a>
          
          <ul>
            <li><a routerLink="/control-panel">CONTROL PANEL</a></li>
            <li><a href="/encoder">ENCODER</a></li>
            <li><a href="/hmi">HMI</a></li>
            <li><a href="/motion-controller">MOTION CONTROLLER</a></li>
            <li><a href="/plc">PLC</a></li>
            <li><a href="/power-supply">POWER SUPPLY</a></li>
            <li><a href="/servo">SERVO</a></li>
            <li><a href="/vfd">VFD</a></li>


          </ul>
          
          </li>
          <li><a href="#portfolio">SERVICES</a></li>
          <li><a href="#team">ENQUIRY</a></li>
          <li><a href="#contact">CONTACT</a></li>

        </ul>
      </nav><!-- .nav-menu -->


    </div>
  </header><!-- End Header -->
