    <!-- ======= Team Section ======= -->
    <section id="team" class="team section-bg" style="margin-top: 100px;">
      <div class="container-fluid contenedor text-center">

   
        <div class="container text-center" data-aos="fade-up">
  
          <div class="section-title">
            <h2>ENCODER</h2>
            <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
          </div>
  
          <div class="row">
  



      

                   <div class="col-sm-4 container_foto ">
                      <div class="ver_mas text-center">
                         <p class="hover-text">View More >></p>
                         <span  class="lnr lnr-eye"></span>
                      </div>
                      <article class="text-left">
                         <h2>AUTONICS <br></h2>
                         
                      </article>
                      <img src="assets/img/ENCODER/AUTONICS/lp-encoder-hero-img-campaign-keyvisual.png" alt="">
                    </div>



              
                    <div class="col-sm-4 container_foto ">
                      <div class="ver_mas text-center">
                         <p class="hover-text" (click)="navigatetoDetails()">View More >> </p>
                         <span  class="lnr lnr-eye"></span>
                      </div>
                      <article class="text-left">
                        <h2>BAUMER <br></h2>
                         
                      </article>
                      <img src="assets/img/ENCODER/BAUMER/Baumer-Products.png" alt="">
                    </div>



                    <div class="col-sm-4 container_foto ">
                      <div class="ver_mas text-center">
                         <p class="hover-text">View More >></p>
                         <span  class="lnr lnr-eye"></span>
                      </div>
                      <article class="text-left">
                        <h2>DELTA <br></h2>
                        
                      </article>
                      <img src="assets/img/ENCODER/DELTA/31VlGAe9JeL._SX342_.jpg" alt="">
                    </div>

                
              </div>
       

  
  
  
  
          </div>

        </div>
  
      </section><!-- End Team Section -->


     