<section class="about">
    <div class="container">
        <div class="item-list">
            <div class="row">

                <div class="col-md-12">
                    <div class="sec-title">
                    <h1 class="left">Mitsubishi</h1>
                    </div>
                </div>

                <div class="col-md-12 product-details">

                    
                    <h3 class="page-heading">Models Of Mitsubishi :</h3>

                     <ul class="s-list list-unstyled mb-20 pg-head">
                        <li><a href="FX3G.html"><span class="fa fa-check"></span>  FX3G</a></li>
                        <li><a href="FX3GE.html"><span class="fa fa-check"></span>  FX3GE</a></li>
                        <li><a href="FX3U.html"><span class="fa fa-check"></span>  FX3U</a></li>
                        <li><a href="FX3UC.html"><span class="fa fa-check"></span>  FX3UC</a></li>
                        <li><a href="FX3S.html"><span class="fa fa-check"></span>  FX3S</a></li>
                        <li><a href="Q-series.html"><span class="fa fa-check"></span> Q SERIES</a></li>
                    </ul>
                </div>	

            </div>
        </div>
    </div>
</section>