<section class="about">
    <div class="container">
        <div class="item-list">
            <div class="row">

                <div class="col-md-12">
                    <div class="sec-title">
                    <h1 class="left">ROE-E Series</h1>
                    </div>
                </div>

                <div class="col-md-12 product-details">
                    <div class="col-md-4">
                        <img src="assets/img/ENCODER/BAUMER/Baumer-Products.png" alt="ROE-E Series" class="img-responsive">
                    </div>

                    <div class="col-md-8"></div>
                </div>	

                <div class="col-md-12 product-details">
                    
                    <h3 class="page-heading">Features : </h3>
                    <br>
                    <p>Features ROE-E Series is an angle-measuring sensor device which is used to detect angular velocity. It can convert the angular velocity that is input into the shaft to the corresponding pulse numbers following optical communication principle. Small size, high precision and reliable performance are its features. ROE-E Series is usually used for detecting speed, rotation direction and angular displacement. ES(Solid Shaft)EH(Hollow Shaft)ET(Through Hole Shaft).</p>
                    
                    <h3 class="page-heading">Specifications : </h3>

                    <ul class="s-list list-unstyled mb-20 pg-head">
                      <li><span class="fa fa-check"></span> ES Series: Outer Diameter of Solid Shaft: 36.6mm; Outer Diameter of Solid Shaft:   50mm </li>
                      <li><span class="fa fa-check"></span> EH Series: Outer Diameter of Hollow Shaft: 36.6mm; Outer Diameter of Hollow   Shaft: 38.7mm.</li>
                      <li><span class="fa fa-check"></span> Outer Diameter of Hollow Shaft: 50mm ET Series: Outer Diameter of Through Hole   Shaft: 100mm.</li>
                      <li><span class="fa fa-check"></span> Light and compact. High reliability. Incremental Encoder. It will not increase the   load of the mechanical system. </li>
                      <li><span class="fa fa-check"></span> Resolution: 100-5000ppr</li>
                      <li><span class="fa fa-check"></span> Output Form: Open Collector, Voltage Output, Line Driver, Push Pull </li>
                      <li><span class="fa fa-check"></span> Power Voltage Range: 5-24V </li>
                      <li><span class="fa fa-check"></span> Responsiveness: 300kHz max.</li>
                      </ul>

                       <h3 class="page-heading">Applications : </h3>
                    <br>
                    <p>Label Printing Machine, Detecting Machine, Elevator, Auto Bottling Machine, Fixed Length Cutting Machine, Elevator Door.</p>
                   <br><br>

                    <a href="Enquiry.php"><img src="images/request-a-quote.png"></a>
                </div>

            </div>
        </div>
    </div>
</section>