<section class="about">
    <div class="container">
        <div class="item-list">
            <div class="row">

                <div class="col-md-12">
                    <div class="sec-title">
                    <h1 class="left">Delta</h1>
                    </div>
                </div>

                <div class="col-md-12 product-details">

                    
                    <h3 class="page-heading">Models Of Delta :</h3>

                     <ul class="s-list list-unstyled mb-20 pg-head">
                         <li><a href="plc-EH3.html"><span class="fa fa-check"></span> EH3</a></li>
                        <li><a href="plc-DVP-ES2-EX2.html"><span class="fa fa-check"></span> DVP-ES2/EX2</a></li>
                        <li><a href="plc-DVP-ES.html"><span class="fa fa-check"></span> DVP-ES</a></li>
                        <li><a href="plc-DVP-EX.html"><span class="fa fa-check"></span> DVP-EX</a></li>
                        <li><a href="plc-DVP-28SV.html"><span class="fa fa-check"></span> DVP-28SV</a></li>
                        <li><a href="plc-DVP-SX2.html"><span class="fa fa-check"></span> DVP-SX2</a></li>
                        <li><a href="plc-DVP-SA2.html"><span class="fa fa-check"></span> DVP-SA2</a></li>
                        <li><a href="plc-DVP-SE.html"><span class="fa fa-check"></span> DVP-SE</a></li>
                        <li><a href="plc-SS2.html"><span class="fa fa-check"></span> SS2</a></li>
                        <li><a href="plc-EXPANSTION-MODULE.html"><span class="fa fa-check"></span> EXPANSTION MODULE</a></li>
                        <li><a href="plc-DVP20PM.html"><span class="fa fa-check"></span> DVP20PM</a></li>
                        <li><a href="plc-DVP-10PM.html"><span class="fa fa-check"></span> DVP-10PM</a></li>
                        <li><a href="plc-DVP-15MC.html"><span class="fa fa-check"></span> DVP-15MC</a></li>
                        <li><a href="plc-DVP10MC.html"><span class="fa fa-check"></span> DVP10MC</a></li>



                    </ul>
                </div>	

            </div>
        </div>
    </div>
</section>