
<section class="about">
    <div class="container">
        <div class="item-list">
            <div class="row">

                <div class="col-md-12">
                    <div class="sec-title">
                    <h1 class="left">Delta</h1>
                    </div>
                </div>

                <div class="col-md-12 product-details">
                <p>HMI (Human Machine Interface) is a medium for information exchange and mutual communication between electromechanical system's and the user. It allows the user to complete settings through touchable images or keys on the user-friendly window. This not only offer's fast and convenient control of manufacturing automation, but also has replaced traditional controlling panel's which needextensive wiring.</p>
                <p>Delta DOP series Human Machine Interface provides various touch screens with multiple dimensions and colors and it also offers fast and convenient control functions for industrial automation machines. Moreover, programming the whole DOP series is done using the Delta Windows-based and user-friendly Screen Editor software. By using this software, the user can quickly edit images and graphs and set suitable communication protocol through Macro command.</p>
                
                <ul class="s-list list-unstyled mb-20 pg-head">
                    <li><a href="HMI-DOP-100-Series.html"><span class="fa fa-check"></span> DOP-100 Series</a></li>
                       <li><a href="HMI-DOP-B-Series.html"><span class="fa fa-check"></span> DOP-B Series</a></li>
                       <li><a href="Text-Panel.html"><span class="fa fa-check"></span> Text Panel</a></li>
                </ul>

                     <br><br>

                    <a href="Enquiry.php"><img src="images/request-a-quote.png"></a>
                
                </div>	

            </div>
        </div>
    </div>
</section>